spring:
  application:
    name: estoqueAPI

  datasource:
    url: jdbc:postgresql://localhost:5433/estoque
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
